{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Crud Operation</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'crud/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="text-center alert alert-success">This Is Crud Operation</h1>

        {% block content %}
    
        {% endblock  %}
    </div>
    

    <script src="{% static  'crud/js/bootstrap.min.js' %}"></script> 
    <script src="{% static  'crud/js/jquery.min.js' %}"></script>
    <script src="{% static  'crud/js/popper.min.js' %}"></script>
</body>
</html>